@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* font-family: 'Montserrat', sans-serif; */
/* google fonts  */

:root {
  --clr-primary: #4461f2;

  --clr-white: #ffffff;
  --clr-light: #c2c2c2;

  --clr-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: #dddddd;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ends base  */
